/* TrippismNew.css */
a {
}

.row1 {
    margin-right: -30px;
    margin-left: -30px;
}

#container_1 {
    position: absolute;
    height: 89vh;
    margin-top: 0px;
    overflow: auto;
    overflow-y: scroll;
    box-sizing: border-box;
    overflow-x: hidden;
}

#container_2 {
    height: 89vh;
    margin-top: 0px;
    display: block;
    position: absolute;
    padding-right: 2px;
    right: 0;
    box-sizing: border-box;
}

.container1 {
    height: auto;
    margin: 0;
    width: 100% !important;
}

.price_start {
    text-align: left;
    float: left;
    font-weight: 500;
    color: #D8D9DC;
}

.price_end {
    text-align: right;
    right: 15px;
    font-weight: 500;
    position: absolute;
    color: #D8D9DC;
}

.person {
    text-align: center;
    float: left;
    font-weight: 500;
}

.Filter_theme {
    font-size: 14px;
    color: darkgray;
    font-weight: 700;
}

div#slider {
    margin-top: 8px;
    z-index: 2;
    margin-left: 15px;
}

.theme_option {
    cursor: pointer;
    font-size: 11px;
    font-weight: 500;
    margin-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

.passanger {
    float: right;
    margin-top: 10px;
    transition: color 0.25s ease-in-out;
    font-weight: 500;
    color: #79818a;
    font-size: 14px;
    cursor: pointer;
}

button#dropdownMenu1 {
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Roboto', serif;
}

    button#dropdownMenu1:hover {
        color: #0097a9;
    }

label.radio-inline {
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 25px;
}

    label.radio-inline:hover {
        color: #0097a9;
    }

row.PickerClickCheck {
    background-clip: content-box;
    padding: 15px;
}

#label {
    margin-left: 5px;
    line-height: 40px;
    font-weight: 500;
    float: left;
    width: 100%;
    cursor: pointer;
    color: #474c52;
    display: block;
}

#location_from, #location_to {
    margin-left: 10px;
}

/*.nav > li > a:hover, .nav > li > a:focus {
    background: none;
    color: #0097a9;
}*/

.nav > li > a {
    font-weight: 500;
    color: #a2a8b3;
}

.form-control {
    cursor: pointer;
    height: 35px;
}

.btn-danger {
    background-color: #b90005;
    border-color: #b90005;
}

    .btn-danger:hover {
        color: #fff;
        background-color: #dadada;
        border-color: #dadada;
    }

.Filter {
    height: 50px;
    line-height: 50px;
}

.Filter_option {
    height: 20px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-right: 15px;
    width: 100%;
}

.Filter .Filter_link {
    cursor: pointer;
    color: #7a8185;
    font-size: 14px;
    font-weight: 500;
}

ul.nav.nav-pills {
    margin-top: 40px;
    font-size: 12px;
}

.search_detail_box.center {
    height: 200px;
    border: 1px solid #ccc;
    background-color: #fff;
}

#price {
    white-space: nowrap;
    color: #289e69;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

#AirLine_detail {
    height: 80px;
    line-height: 50px;
}

.AirLine_logo {
    display: block;
    float: left;
    margin-top: 10px;
    cursor: pointer;
}

.AirLine {
    display: block;
    margin-top: 10px;
    color: #a2a8b3;
    cursor: pointer;
}

.city_name {
    padding-top: 2px;
    margin-left: 10px;
}

input[type="datetime"] {
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

i.fa.fa-caret-down {
    color: #7a8185;
}

    i.fa.fa-caret-down:hover i.fa.fa-caret-down:focus {
        color: #333;
    }

.search_list {
    display: inline-block;
    max-width: 100%;
    margin-top: 10px;
    font-weight: normal;
    color: #333;
}

#select-region option, #select-theme option {
    display: none;
}

.thumbnail_img {
    overflow: hidden;
    background-color: #fff;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 0 0 2px 2px;
    -webkit-box-shadow: 0px 3px 15px 0px rgba(232,232,232,0.64);
    -moz-box-shadow: 0px 3px 15px 0px rgba(232,232,232,0.64);
    box-shadow: 0 1px 3px rgba(0,0,0,0.14), inset 0 1px 0 #edeff2;
}

    .thumbnail_img div:first-child {
        height: 165px;
        position: relative;
    }

    .thumbnail_img:hover {
        -webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.32);
        -moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.32);
        box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.32);
        transition: box-shadow 0.3s ease-in-out;
    }

    .thumbnail_img img.thumb-img {
        width: 100%;
        height: 100%;
    }

.Price_list {
    background-color: #b90005;
    padding: 3px 10px;
    position: absolute;
    bottom: 44px;
    color: #fff;
    font-weight: 500;
    left: 0px;
    bottom: 0px;
    opacity: 0.8;
}

    .Price_list:hover {
        color: #fff;
    }

.Location_box {
    padding: 5px;
}

.noUi-handle.noUi-handle-upper {
    cursor: pointer;
}

.noUi-handle.noUi-handle-lower {
    cursor: pointer;
}

ul.dd-options.dd-click-off-close {
    width: 100% !important;
}

a.dd-option.dd-option-selected {
    height: 45px;
}

a.dd-option {
    height: 40px !important;
}

label.dd-option-text {
    line-height: 12px !important;
    display: block;
    margin-top: 14px;
}

label.dd-selected-text {
    /*line-height: 38px !important;
    margin-left: 10px;*/
    margin-left: 10px;
    line-height: 10px !important;
    display: block;
    margin-top: 12px;
}

.dd-select {
    width: 100% !important;
    height: 35px;
}

img.dd-selected-image {
    height: 33px !important;
}

label.dd-option-text:first-child {
    margin-left: 15px;
    cursor: pointer;
}

section#Modification {
    height: 50px;
    position: absolute;
    z-index: 11111;
    top: 50px;
    float: left;
    width: 100%;
}

.Modify {
    float: right;
    margin-top: 5px;
}

.btn {
    transition: all .3s ease-in-out;
}

.btn-block {
    display: block;
    width: 100%;
    height: 15vh !important;
    text-align: center;
    margin-top: 25px;
}

.dd-container {
    width: 100% !important;
}

.dd-option {
    padding: 0 !important;
}

.dd-selected {
    padding: 0 !important;
}

.thumbnail_box_1 {
    margin-top: 25px;
    margin-bottom: 50px;
}

.row-card {
    background-color: #FAFBFC;
    border-top: 2px solid #ccc;
    overflow-y: inherit;
}

.map-box {
    width: 100%;
    /*height: 98vh;*/
    height: 100%;
}

.map-container {
    height: 100%;
    width: 100%;
}

#select-region, #select-theme {
    width: 100%;
}

.destinations-wrapper {
    padding: 0;
    position: fixed;
    height: 100%;
}

.divloader {
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    margin: 10px 0px;
    color: #999;
}

.ico-map {
    position: absolute;
    right: 1px;
    bottom: 1px;
    cursor: pointer;
    width: 26px;
    height: 26px;
    opacity: 0.8;
}

    .ico-map:hover {
        opacity: 1;
    }

/*#region media queries*/
@media only screen and (max-width:769px) {
    .Modify {
        float: left;
    }
}
/*#endregion media queries*/
