<div class="panel panel-default panel-margin">
    <div class="panel-heading">
        <div class="col-lg-10 col-md-4 col-sm-8 col-xs-8">About Us</div>
        <div class="button-right col-lg-2">
            <a class="close-panel-button pull-right" ng-click="dismiss()" role="button" tabindex="0">X</a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="panel-body">
        <p class=p-text-align>
            Trippism is a unique and innovative solution to the problem of destination discovery in leisure travel. Around the world data and statistics show that leisure travelers want to go somewhere, however don't know where. Most online travel businesses offer good prices and booking mechanisms, however no means to figure out where you can go. Here is where Trippism comes. Our state of the art workflow suggests you destinations given your origin, dates, budget and preferences like themes, regions etc..
            A new tab opens when you pick a destination giving an overview of that destination which includes key decision making information like lowest current fares, fare intelligence, weather history, traffic seasonality, attractions, attraction related videos. It's all about the art of destination discovery, making it easier by bringing together relevant information based on historical data and user generated content across the web.
        </p>
        <p class=p-text-align>We are not a travel booking engine nor do we intend to give you the best deal for that travel search. We provide the current lowest published fares by airlines combined with fare intelligence that enables you to understand the fare trends and see if the current fares are in your budget. Our success lies in you being able to discover that destination based on your preferences and our information.</p>
        <p class=p-text-align>Team Trippism is made of dedicated, smart and passionate professionals who are striving everyday to put the best solution out there. Our business know how and technical strengths combined, enable us to bring this innovative travel offering.</p>
        <p class=p-text-align>This is just a soft beta launch and there is much more to come, which will help you find your vacation destination of choice.</p>
    </div>
    <div class="panel-footer">
        <button type="button" class="btn btn-danger btn-sm" ng-click="dismiss()">OK</button>
    </div>
</div>


