<div class="total-attractions-found-box slide-bottom">
    <div class="btn-box">
        <div class="atractions-nav-tabs">
            <ul>
                <li ng-class="isAttractions ? 'active' : ''">
                    <a ng-click="loadAttractions('btn')" class="attr-btn">
                        <span ng-class="isAttractionCollapsed ? '' : 'active'"
                              class="toggle-btn total-attractions-btn padding-0 height-20">
                            <i class="search-icon margin-0"></i>
                        </span>
                    </a>
                </li>
                <li ng-repeat="item in attractionsData" ng-class="item.isActive ? 'active' : ''">
                    <a ng-click="loadAttractions(item.name)" title="{{item.displayName}}" class="{{item.htmlClass}}">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="attractions-found" collapse="!isAttractionCollapsed">
        <div id="examples">
            <div class="content contentHorizontal">
                <div ng-click="SelectPlace(item)" ng-repeat="item in attractionstoDisp" class="destinations-list">
                    <h6 class="text-capitalize">{{item.name | lowercase}}</h6>
                    <div class="placeaddress-list">
                        <!--<span ng-bind-html="item.Placeaddress"></span>-->
                        <span class="text-capitalize">{{item.Placeaddress | lowercase}}</span>
                        <h6 class="margin-0 line-20 font-14" ng-if="item.type=='hotels'">
                            <span ng-if="::item.details.RateRange">
                                <span ng-init="amtbifercation1=amountBifurcation(item.details.RateRange.Min);">
                                    <span>{{::GetCurrencySymbol(item.details.RateRange.CurrencyCode)}}</span>
                                    {{amtbifercation1.BeforeDecimal}}<span class="text-super vertical-top font-11">{{amtbifercation1.AfterDecimal}}</span>
                                </span>
                                -
                                <span ng-init="amtbifercation=amountBifurcation(item.details.RateRange.Max);">
                                    <span>{{::GetCurrencySymbol(item.details.RateRange.CurrencyCode)}}</span>
                                    {{amtbifercation.BeforeDecimal}}<span class="text-super vertical-top font-11">{{amtbifercation.AfterDecimal}}</span>
                                </span>
                            </span>
                        </h6>
                        <div ng-bind-html="item.raitingToAppend"></div>
                    </div>
                </div>
                <div ng-show="isAttractionFound == false" style="color: #ccc;">Sorry, we did not find anything in this category!</div>
            </div>
        </div>
    </div>
</div>
