<div id="googleMapId_" class="popupmarker" ng-class="attractionReviews.length > 0 ? 'popupmarker-lg' : 'popupmarker-md'">
    <div class="modal-content">
        <div class="modal-header head ng-scope" style="padding-bottom: 24px !important;">
            <button class="close closebutton" style="margin-top:2px !important;" ng-click="dismiss();" type="button">×</button>
        </div>
        <div class="modal-body" style="padding:0px;">
            <div class="attr-top" ng-if="IsMapPopupLoading" style="height:400px;">
                <div ng-show="IsMapPopupLoading" ng-hide="!isAttrDataFound" class="sqrloadclass" style="padding-top:10px;padding-bottom:0px;"></div>
            </div>
            <div ng-show="!IsMapPopupLoading">
                <div class="col-md-12">
                    <div ng-class="attractionReviews.length > 0 ? 'col-md-8' : 'col-md-12 padding-0'">
                        <div class="col-md-12 attr-loader" ng-show="isPhotoLoading">
                            <h4 class="glyphicon glyphicon-refresh glyphicon-spin"></h4>
                            <h4>Bringing photos...</h4>
                        </div>
                        <div style="height:400px;overflow:hidden;" ng-if="slides.length == 0 && !isPhotoLoading">
                            <img height="300" width="500" src="../images/noimageavailable.png">
                        </div>
                        <div style="height:400px;overflow:auto;" ng-if="slides.length > 0">
                            <carousel no-wrap="false" class="slidercarsoul">
                                <slide ng-repeat="slide in ::slides" active="slide.active">
                                    <img ng-src="{{slide.image}}" style="margin:auto;max-width:570px;max-height:400px;display:inline-block;">
                                    <div class="carousel-caption">
                                    </div>
                                </slide>
                            </carousel>
                        </div>
                        <div style="color:black;font-size:14px;margin-top:5px;margin-bottom:5px;">
                            <div class="col-md-12 padleft0 text-capitalize"><strong>{{::locationDetail.PlaceName }}</strong><br></div>
                            <div style="word-wrap:break-word;" class="text-capitalize" ng-bind-html="::locationDetail.Placeaddress"></div>
                            {{::locationDetail.PhoneNo}}
                            <div ng-if="locationDetail.AttractionType == 'hotels'">
                                <div class="row">
                                    <div class="col-md-7 col-sm-6" ng-if="::locationDetail.RateRange">
                                        <h4>
                                            <span ng-init="amtbifercation1=amountBifurcation(locationDetail.RateRange.Min);">
                                                <span class="cursor-help" data-toggle="tooltip" popover="{{::locationDetail.RateRange.CurrencyCode}}" popover-trigger="mouseenter" popover-placement="top">{{::GetCurrencySymbol(locationDetail.RateRange.CurrencyCode)}}</span>
                                                {{amtbifercation1.BeforeDecimal}}<span class="text-super vertical-top">{{amtbifercation1.AfterDecimal}}</span>
                                            </span>
                                            -
                                            <span ng-init="amtbifercation=amountBifurcation(locationDetail.RateRange.Max);">
                                                <span class="cursor-help" data-toggle="tooltip" popover="{{::locationDetail.RateRange.CurrencyCode}}" popover-trigger="mouseenter" popover-placement="top">{{::GetCurrencySymbol(locationDetail.RateRange.CurrencyCode)}}</span>
                                                {{amtbifercation.BeforeDecimal}}<span class="text-super vertical-top">{{amtbifercation.AfterDecimal}}</span>
                                            </span>
                                        </h4>
                                    </div>
                                    <div class="col-md-2 col-sm-2" ng-show="locationDetail.FreeWifiInRooms"><h4><i title="Free Wi-Fi in rooms" class="fa fa-wifi cursor-help" aria-hidden="true" style="color:green"></i></h4></div>
                                </div>
                            </div>
                            <div ng-if="locationDetail.AttractionType != 'hotels' && provider != 'TripAdvisor'" ng-bind-html="::locationDetail.raitingToAppend"></div>
                            <div class="margin-tb-5" ng-show="provider=='TripAdvisor' && locationDetail.raitingToAppend">
                                <div class="font-light" style="color:#599642;">TripAdvisor Traveler Rating</div>
                                <div>
                                    <img ng-src="{{locationDetail.raitingToAppend}}" class="margin-bottom-5" width="100" height="17" />
                                    <span class="margin-left-5 font-light"><span class="font-11">based on</span> <a ng-href="{{locationDetail.WebUrl}}" target="_blank" class="underline">{{locationDetail.NumReviews}} reviews</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 review-wrapper">
                        <div class="attr-title" ng-if="attractionReviews.length > 0">
                            <span ng-if="::provider=='TripAdvisor'">TripAdvisor&copy; Traveler Reviews</span>
                            <span ng-if="::provider=='Google+'">{{provider}} Reviews</span>
                        </div>
                        <div class="contentVertical review">
                            <div ng-if="attractionReviews.length > 0">
                                <div class="col-md-12 review-inner" ng-repeat="item in ::attractionReviews">
                                    <p class="margin-bottom-0 p-text-align">{{::item.text}}</p>
                                    <div class="review-repeat">
                                        <span>Overall rating :</span>
                                        <div ng-if="provider != 'TripAdvisor'" ng-bind-html="::item.rating"></div>
                                        <div ng-show="provider=='TripAdvisor' && item.raitingToAppend"><img ng-src="{{item.raitingToAppend}}" class="margin-tb-5" width="70" height="16" /></div>
                                    </div>
                                    <p class="review-author">- {{::item.author_name}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>