<div style="width: 450px;position:absolute;top: 0px;left: 0px;right: 0px;bottom: 0px;margin: 70px auto;font-size:16px" class="cg-busy-animation">
    <marquee direction="up" scrollamount="2" marquee-play-count="1">
        We are bringing you possible vacation destinations from [{{OriginCityName}}].....<br /><br/>
        These destinations are in the order of cheapest prices...<br /><br/>
        Click on each marker to get better price insights , weather , attractions and videos....<br /><br/>
        Share with friends destinations and prices....
    </marquee>
</div>
