
<div cg-busy="{promise:updatePassword,message:'Please wait...'}">
    <div class="panel panel-default panel-margin">
        <div class="panel-heading">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 padleft0"><strong>Change Password</strong></div>
            <div class="pull-right">
                <a class="close-panel-button pull-right" ng-click="dismiss()" role="button" tabindex="0">X</a>
            </div>
            <div class="clear"></div>
        </div>
        <div ng-show="hasError">
            <div class="alert alert-danger triperror" role="alert" ng-show="formChangePwd.oldpassword.$error.required || formChangePwd.newpassword.$error.required || formChangePwd.confirmpassword.$error.required">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Fill all the field
            </div>
            <div class="alert alert-danger triperror" role="alert" ng-show="PasswordLength == false">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Your password needs to be at least 6 characters
            </div>
            <div class="alert alert-danger triperror" role="alert" ng-show="isPasswordSame == false">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Those passwords didn't match. Try again.
            </div>
        </div>
        <div class="panel-body">
            <form name="formChangePwd" novalidate="novalidate" class="sharenow-form form-box form-box-new">
                <div class="form-group pul">
                    <label for="password">Old Password *</label>
                    <input type="password" ng-model="oldpassword" class="form-control" style="color:black !important;" id="oldpassword" name="oldpassword" placeholder="Enter Password" required autocomplete="off" />
                </div>
                <div class="form-group pul">
                    <label for="password">New Password *</label>
                    <input type="password" ng-model="newpassword" class="form-control" style="color:black !important;" id="newpassword" name="newpassword" placeholder="Enter New Password" required autocomplete="off" />
                </div>
                <div class="form-group pul">
                    <label for="password">Confirm Password *</label>
                    <input type="password" ng-model="confirmpassword" class="form-control" style="color:black !important;" id="confirmpassword" name="confirmpassword" placeholder="Re-enter New Password" required autocomplete="off" />
                </div>
                <div class="form-group pull-left">
                    <button type="submit" class="btn btn-danger" ng-click="submitModal()">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
