<div class="container-fluid ibox-wp">
    <div class="row-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ibox-title searched-box">
            <div class="col-md-3 col-sm-8 col-xs-8 breadcrum-container">
                <breadcrumb:directive ng-model="breadcrumb"></breadcrumb:directive>
            </div>
            <div class="share-btn pull-right search-det">
                <a title="Share via email" ng-click="SendEmailToUser()" class="icons red-bg"><img src="/images/share-icon.png" height="17" width="20" alt="" /></a>
                <a class="btn btn-danger" video-popup-directive>Help</a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="row-fluid">
        <div class="col-md-6">
            <div class="row">
                <div class="ibox-box searched search-det">
                    <p>
                        <span ng-show="fareParams.OriginAirport && fareParams.DestinationAirport">{{fareParams.OriginAirport.airport_CityName}}-{{fareParams.DestinationAirport.airport_CityName}}</span>
                        <span ng-show="fareParams.SearchCriteria.FromDate"> {{fareParams.SearchCriteria.FromDate | date:'MMM-dd-yyyy'}} </span>
                        <span ng-show="fareParams.SearchCriteria.ToDate">To {{fareParams.SearchCriteria.ToDate | date:'MMM-dd-yyyy'}}</span>
                        <span ng-show="fareParams.SearchCriteria.Minfare > 0"><br />{{fareCurrencySymbol}} {{fareParams.SearchCriteria.Minfare}}</span>
                        <span ng-show="fareParams.SearchCriteria.Maxfare > 0"> To {{fareCurrencySymbol}} {{fareParams.SearchCriteria.Maxfare}}</span>
                        <span ng-show="fareParams.SearchCriteria.Region "> {{fareParams.SearchCriteria.Region}}</span>
                        <span ng-show="fareParams.SearchCriteria.Theme"> {{fareParams.SearchCriteria.Theme}}</span>
                    </p>
                    <div class="clear"></div>
                </div>
                <div class="ibox-title ibox-title-new">
                    <h4>
                        {{airportDetail}}
                    </h4>
                </div>
                <div class="row">
                    <div class="col-md-12 col-fare-title col-dest-title" ng-if="LowestNonStopFare || LowestFare"><h4><i class="fa fa-plane"></i>Flights</h4></div>
                    <div class="col-md-6 col-sm-6 col-xs-12 col-fare" ng-if="::LowestNonStopFare">
                        <div class="ibox-box fare-box">
                            <div class="fare-box-inner text-right">
                                <h4 ng-init="::amtbifercation=amountBifurcation(LowestNonStopFare.Fare);">
                                    <span class="cursor-help" data-toggle="tooltip" popover="{{fareParams.FareInfo.CurrencyCode}}" popover-trigger="mouseenter" popover-placement="top">{{GetCurrencySymbol(fareParams.FareInfo.CurrencyCode)}}</span>
                                    {{amtbifercation.BeforeDecimal}}<span class="text-super vertical-top">{{amtbifercation.AfterDecimal}}</span>
                                </h4>
                                <p>Lowest Non Stop</p>
                            </div>
                            <div class="fare-box-inner">
                                <p class="hover-line book-wrapper">
                                    <a href="" ng-click="InstaFlightSearch(LowestNonStopFare.AirlineCodes, LowestNonStopFare.Fare);">
                                        <img src="../images/book_now.png" />
                                    </a>
                                </p>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 col-fare" ng-if="::LowestFare">
                        <div class="ibox-box fare-box">
                            <div class="fare-box-inner text-right">
                                <h4 ng-init="::amtbifercation=amountBifurcation(LowestFare.Fare);">
                                    <span class="cursor-help" data-toggle="tooltip" popover="{{fareParams.FareInfo.CurrencyCode}}" popover-trigger="mouseenter" popover-placement="top">{{GetCurrencySymbol(fareParams.FareInfo.CurrencyCode)}}</span>
                                    {{amtbifercation.BeforeDecimal}}<span class="text-super vertical-top">{{amtbifercation.AfterDecimal}}</span>
                                </h4>
                                <p>Lowest</p>
                            </div>
                            <div class="fare-box-inner">
                                <p class="hover-line book-wrapper">
                                    <a href="" ng-click="InstaFlightSearch(LowestFare.AirlineCodes, LowestFare.Fare);">
                                        <img src="../images/book_now.png" />
                                    </a>
                                </p>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="LowestNonStopFare || LowestFare">
                    <div class="col-md-12 clear">
                        <div class="ibox-box searched margin-0">
                            <h6 class="margin-0">
                                Fares are round trip 1 adult economy. Taxes and fees are included; baggage and preferred seating, are not included.
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="divhotel" class="col-md-3 col-sm-12 col-xs-12 col-hotel" ng-if="fareParams">
            <hotel-range origin="fareParams.SearchCriteria.Origin" destination="fareParams.SearchCriteria.DestinationLocation" departure-date="fareParams.SearchCriteria.FromDate | date:format" return-date="fareParams.SearchCriteria.ToDate | date:format"></hotel-range>
        </div>
    </div>
</div>