<!-- card on destinations page -->
<a ng-href="{{::getlink(Destination)}}" title="{{::Destination.FullName}}, {{::Destination.CityName}}">
    <div class="thumbnail_img img-responsive">
        <div>            
            <img class="thumb-img" ng-src="{{::destinationImagePath}}{{::Destination.CityCode}}.jpg" src-error="{{::destinationImagePath}}default.jpg" />
            <span class="Price_list" ng-click="::sortCardsByPrice($event);">{{Destination.CurrencySymbol}} {{Destination.LowRate}}</span>
            <img title="Like place" alt="Love it?" ng-src="../../images/{{Destination.like ? 'like.png' : 'unlike.png'}}" width="26" height="26" style="position:absolute;right:1px;bottom:1px;" ng-click="::addFevDestination($event,Destination);" />
            <img title="Show on map" alt="map" class="ico-map hidden-sm hidden-xs" src="../images/map.png" width="26" height="26" ng-click="::gotoMap($event,Destination);" />
        </div>
        <div class="city_name text-ellipsis">
            <span class="font-imp font-16">{{::Destination.CityName}}</span>
        </div>
        <div class="margin-left-10 text-ellipsis">
            <span class="font-light font-12">{{::Destination.FullName}}</span>
        </div>
    </div>
</a>
