<div class="ibox-wp">
    <div class="row-fluid" id="destination-breadcrumb">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ibox-title searched-box">
            <div class="col-md-3 col-sm-8 col-xs-8 breadcrum-container">
                <breadcrumb:directive ng-model="breadcrumb"></breadcrumb:directive>
            </div>
            <div class="share-btn pull-right search-det">
                <a title="Share via email" ng-click="SendEmailToUser()" class="icons red-bg"><img src="/images/share-icon.png" height="17" width="20" alt="" /></a>
                <!--<a class="btn btn-danger" video-popup-directive>Help</a>-->
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>

    <div class="row-fluid">
        <div class="popup-box">
            <div class="popup-content">
                <div class="popup-header pad-bot-10">
                    <h6 class="widget-popup-title">What is the likely cost?</h6>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="ibox-box searched search-det font-light">
                            <p>
                                <span ng-show="search">{{search}} {{fareParams.SearchCriteria.FromDate | date: $root.format}} To {{fareParams.SearchCriteria.ToDate | date: $root.format}}</span>
                            </p>
                            <div class="clear"></div>
                        </div>
                        <div class="ibox-title ibox-title-new font-light">
                            <h4>
                                {{airportDetail}} 
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-8" ng-show="LowestNonStopFare || LowestFare">
                    <div class="row">
                        <div class="col-fare-title col-dest-title"><h4><i class="fa fa-plane"></i>Flights</h4></div>
                        <div class="col-md-6 col-sm-6 col-xs-12 col-fare padleft0" ng-if="::LowestNonStopFare">
                            <div class="ibox-box fare-box">
                                <div class="fare-box-inner text-right">
                                    <h4 class="fare-font">                                        
                                        <span class="cursor-help" data-toggle="tooltip" popover="{{fareCurrencyCode}}" popover-trigger="mouseenter" popover-placement="top">{{fareCurrencySymbol}}</span>
                                        {{LowestNonStopFare.amountBifurcation.BeforeDecimal | number :0}}<span class="text-super vertical-top">{{LowestNonStopFare.amountBifurcation.AfterDecimal}}</span>
                                    </h4>
                                    <p>Lowest Non Stop</p>
                                </div>
                                <div class="fare-box-inner">
                                    <p class="hover-line book-wrapper">
                                        <a href="" ng-click="InstaFlightSearch(LowestNonStopFare.AirlineCodes, LowestNonStopFare.Fare,LowestNonStopFare.outboundflightstops,LowestNonStopFare.inboundflightstops);">
                                            <img src="../images/book_now.png" />
                                        </a>
                                    </p>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 col-fare padleft0" ng-if="::LowestFare">
                            <div class="ibox-box fare-box">
                                <div class="fare-box-inner text-right">
                                    <h4 class="fare-font" >
                                        <span class="cursor-help" data-toggle="tooltip" popover="{{fareCurrencyCode}}" popover-trigger="mouseenter" popover-placement="top">{{fareCurrencySymbol}}<!--{{GetCurrencySymbol(fareParams.FareInfo.CurrencyCode)}}--></span>
                                        {{LowestFare.amountBifurcation.BeforeDecimal | number :0}}<span class="text-super vertical-top">{{LowestFare.amountBifurcation.AfterDecimal}}</span>
                                    </h4>
                                    <p><span class="invisible hidden">Non Stop </span> Lowest</p>
                                </div>
                                <div class="fare-box-inner">
                                    <p class="hover-line book-wrapper">
                                        <a href="" ng-click="InstaFlightSearch(LowestFare.AirlineCodes, LowestFare.Fare);">
                                            <img src="../images/book_now.png" />
                                        </a>
                                    </p>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="LowestNonStopFare || LowestFare">
                        <div class="ibox-box searched margin-top-10">
                            <h6 class="margin-0 font-normal font-light">
                                Fares are round trip 1 adult economy. Taxes and fees are included; baggage and preferred seating are not included.
                            </h6>
                        </div>
                    </div>
                </div>
                <div id="divhotel" class="col-md-4 col-sm-12 col-xs-12 col-hotel" ng-if="fareParams">
                    <hotel-range origin="fareParams.SearchCriteria.Origin" destination="fareParams.SearchCriteria.DestinationLocation" departure-date="fareParams.SearchCriteria.FromDate | date:format" return-date="fareParams.SearchCriteria.ToDate | date:format"></hotel-range>
                </div>
            </div>
        </div>

        <!-- commented for time being  -->
        <!--<div class="col-md-12 clear" ng-if="HotelData && (LowestNonStopFare || LowestFare)">
            <div class="ibox-box searched margin-0">
                <h6 class="margin-0">
                    <span class="fare-calc">
                        <span class="font-light">Lowest likely cost of travel for 2 adults:&nbsp;</span>
                        <span class="font-700 display-block">
                            <span class="display-block font-imp">
                                2 *
                                <span class="box" ng-init="::amtFare=amountBifurcation(LowestFare.Fare);">
                                    <i class="fa fa-plane margin-right-3" aria-hidden="true"></i>
                                    <span class="cursor-help" data-toggle="tooltip" popover="{{fareParams.FareInfo.CurrencyCode}}" popover-trigger="mouseenter" popover-placement="top">{{GetCurrencySymbol(fareParams.FareInfo.CurrencyCode)}}</span>
                                    {{amtFare.BeforeDecimal}}<span class="text-super vertical-top font-11">{{amtFare.AfterDecimal}}</span>
                                </span>
                            </span>
                            <span class="margin-lr-3">+</span>
                            <span class="display-block box font-imp" ng-init="::amtHotel=amountBifurcation(HotelData.Fare);">
                                <i class="fa fa-bed margin-right-3" aria-hidden="true"></i>
                                <span class="cursor-help" data-toggle="tooltip" popover="{{HotelData.CurrencyCode}}" popover-trigger="mouseenter" popover-placement="top">{{GetCurrencySymbol(HotelData.CurrencyCode)}}</span>
                                {{amtHotel.BeforeDecimal}}<span class="text-super vertical-top font-11">{{amtHotel.AfterDecimal}}</span>
                            </span>
                            <span class="display-block font-imp" ng-init="::amtTotal=amountBifurcation(totalFare());">
                                <span class="margin-lr-3">=</span>
                                <span class="cursor-help" data-toggle="tooltip" popover="{{HotelData.CurrencyCode}}" popover-trigger="mouseenter" popover-placement="top">{{GetCurrencySymbol(HotelData.CurrencyCode)}}</span>
                                {{amtTotal.BeforeDecimal}}<span class="text-super vertical-top font-11">{{amtTotal.AfterDecimal}}</span>
                            </span>
                        </span>
                    </span>
                </h6>
            </div>
        </div>-->
    </div>
    <div class="clear"></div>
</div>
