<!--<div class="col-md-6 col-sm-6 col-xs-12" ng-if="(FareRangeWidgetDataFound || SeasonalityWidgetDataFound ) && IsWidgetClosed ">-->
<div class="" ng-if="(FareRangeWidgetDataFound ) && IsWidgetClosed ">
    <div class="popup-box">
        <!--<div class="popup-header red-bg">
            <div ng-if="SeasonalityWidgetDataFound && FareRangeWidgetDataFound"><h6 class="widget-popup-title">Traffic Seasonality and Fares recently paid</h6></div>
            <div ng-if="SeasonalityWidgetDataFound && !FareRangeWidgetDataFound"><h6 class="widget-popup-title">Traffic Seasonality Summary</h6></div>
            <div ng-if="!SeasonalityWidgetDataFound && FareRangeWidgetDataFound"><h6 class="widget-popup-title">Fares recently paid
            </h6></div>
        </div>-->
        <div class="popup-content">
            <!--added header under content-->
            <div class="popup-header">
                <!--<div ng-if="SeasonalityWidgetDataFound && FareRangeWidgetDataFound"><h6 class="widget-popup-title">Traffic Seasonality and Fares recently paid</h6></div>
                <div ng-if="SeasonalityWidgetDataFound && !FareRangeWidgetDataFound"><h6 class="widget-popup-title">Traffic Seasonality Summary</h6></div>-->
                <div ng-if="FareRangeWidgetDataFound">
                    <h6 class="widget-popup-title">
                        Fares recently paid
                    </h6>
                </div>
            </div>
            <div class="overview-weather-box">
                <ul class="gird-line">
                    <li>
                        <div class="overview-weather-farerange" ng-if="FareRangeWidgetDataFound" ><!--ng-style="!SeasonalityWidgetDataFound && {'border-left':'none'}"-->
                            <p>
                                Fares recently paid
                                <span ng-if="widgetParams.FareRangeData.IsMacOrigin">from ({{widgetParams.FareRangeData.OriginLocation}})</span>
                                <span ng-if="widgetParams.FareRangeData.IsMacDestination">to ({{widgetParams.FareRangeData.DestinationLocation}})</span>
                            </p>
                            <p>Lowest Fare : {{FareRangeWidgetData.MinimumFare | number : 2}}</p>
                            <p>Median Fare : {{FareRangeWidgetData.MedianFare | number : 2}}</p>
                            <p>Highest Fare : {{FareRangeWidgetData.MaximumFare | number : 2}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
