<div ng-if="!loadingFareRange">
    <div class="popup-box">
         <!--<div class="popup-header red-bg">-->
 <!--        <div class="popup-header">
             <h6 class="popup-title">Fares recently paid detail</h6>
        </div>--> 
        <div class="popup-content">
            <p>
                <!--[ {{DepartDate}} to {{ReturnDate}} ]-->
                 {{DepartDate}} to {{ReturnDate}} 
            </p>
            <p> 
                Median, highest, and lowest fares recently paid in last 4 weeks for different future departure dates in a range, for the specific origin, destination, and length of stay searched.
            </p>
            <div class="chart-box">
            </div>
        </div>
    </div>
</div>
