<div class="">
    <div class="popup-box">
        <div class="popup-content" ng-if="(FareRangeWidgetDataFound ) && IsWidgetClosed">
            <div class="popup-header" ng-show="FareRangeWidgetDataFound">
                <div>
                    <h6 class="widget-popup-title">
                        How good is today's price?
                    </h6>
                </div>
            </div>
            <div class="overview-weather-box font-light">
                <div ng-if="FareRangeWidgetDataFound">
                    <p>
                        Fares that were paid in the last 4 weeks for
                        <span>{{FareRangeWidgetData.OriginLocation}}-{{FareRangeWidgetData.DestinationLocation}}</span>
                        <span>{{DepartDate | date: $root.format}} To {{ReturnDate | date: $root.format}}</span>
                    </p>

                    <div class="col-md-7 col-sm-12 col-xs-12 padleft0" id="fareRageChart"></div>
                    <div class="clear"></div>
                    <p>If the current lowest fare is less than median, it's a good price.</p>
                </div>
            </div>
        </div>
        <div class="popup-content padding-bottom-0" ng-show="!FareNoDataFound" ng-if="FareforecastData.Forecast.LowestPredictedFare != 'N/A' && FareforecastData.Forecast.LowestPredictedFare != 0 && FareforecastData.Forecast.LowestPredictedFare != undefine">
            <div class="popup-header" ng-show="!FareRangeWidgetDataFound">
                <div>
                    <h6 class="widget-popup-title">
                        How good is today's price?
                    </h6>
                </div>
            </div>

            <div class="overview-weather-box">
                <div>
                    <div class="row">
                        <div class="fare-pred" ng-show="!FareNoDataFound" ng-if="FareforecastData.Forecast.LowRateAmountBifurcation != null && FareforecastData.Forecast.LowRateAmountBifurcation != 'undefined'">
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <h4 class="fare-font">
                                    <span class="cursor-help" data-toggle="tooltip" popover="{{FareforecastData.CurrencyCode}}" popover-trigger="mouseenter" popover-placement="top">{{GetCurrencySymbol(FareforecastData.CurrencyCode)}}</span>
                                    {{FareforecastData.Forecast.LowRateAmountBifurcation.BeforeDecimal | number : 0}}<span class="text-super vertical-top">{{FareforecastData.Forecast.LowRateAmountBifurcation .AfterDecimal}}</span>
                                </h4>
                                <p class="font-light">Lowest Predicted Fare for Next Week</p>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <h4 class="fare-font">
                                    <span class="cursor-help" data-toggle="tooltip" popover="{{FareforecastData.CurrencyCode}}" popover-trigger="mouseenter" popover-placement="top">{{GetCurrencySymbol(FareforecastData.CurrencyCode)}}</span>
                                    {{FareforecastData.Forecast.HigestRateAmountBifurcation.BeforeDecimal | number : 0}}<span class="text-super vertical-top">{{FareforecastData.Forecast.HigestRateAmountBifurcation.AfterDecimal}}</span>
                                </h4>
                                <p class="font-light">Highest Predicted Fare for Next Week</p>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12 font-imp font-18 margin-bottom-15 margin-top-15" ng-if="!FareNoDataFound && IsRequestCompleted">
                                <img ng-if="FareforecastData.Recommendation == 'buy'" title="Go ahead, Buy!" src="/images/like-icon.png" />
                                <img ng-if="FareforecastData.Recommendation == 'wait'" title="Wait, price may drop!" src="/images/wait-icon.png" />
                                <span class="vertical-bottom" ng-if="FareforecastData.Recommendation == 'buy'"> We recommend buy</span>
                                <span class="vertical-bottom" ng-if="FareforecastData.Recommendation == 'wait'">We recommend wait to buy</span>
                                <span class="vertical-bottom" ng-if="FareforecastData.Recommendation == 'unknown'">Wait or buy</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
