<div class="panel panel-default panel-margin">
    <div class="panel-heading">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 padleft0">Your feedbacks are key in driving Trippism forward..</div>
        <div class="button-right col-lg-2">
            <a class="close-panel-button pull-right" ng-click="dismiss()" role="button" tabindex="0">X</a>
        </div>
        <div class="clear"></div>
    </div>
    <div cg-busy="{promise:sendFeedbackPromise,message:'Sending feedback...'}" style="color:black"></div>
    <div class="panel-body">
        <form name="FormFeedback" novalidate="novalidate" class="sharenow-form form-box form-box-new">
            <div class="form-group">
                <label for="feedbackType">Choose the type of feedback</label>
                <select class="form-control" id="feedbackType" name="feedbackType" ng-model="feedbackType" style="max-width:300px;">
                    <option value="0">Choose one</option>
                    <option value="Compliments">Compliments</option>
                    <option value="Criticisms">Criticisms</option>
                    <option value="Suggestions">Suggestions</option>
                </select>
            </div>
            <div class="form-group">
                <textarea class="form-control" id="feedbackDetail" name="feedbackDetail" ng-model="feedbackDetail" rows="7" placeholder="Feedback detail" required maxlength="1000" ng-keyup="getCharactersRemaining();" style="resize:vertical"></textarea>
                <div style="clear:both;" ng-show="hasError && FormFeedback.$invalid">
                    <div class="alert alert-danger triperror" role="alert" ng-show="FormFeedback.feedbackDetail.$error.required">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        Please enter feedback detail.
                    </div>
                </div>
                <small>{{charactersRemaining}} characters remaining.</small>
            </div>
            <div class="form-group">
                <label for="brought">What brought you to Trippism today?</label>
                <select class="form-control" id="brought" name="brought" ng-model="whatBroughtYou" style="max-width:300px;">
                    <option value="0">Choose one</option>
                    <option value="Planning a vacation">Planning a vacation?</option>
                    <option value="Looking up prices">Looking up prices?</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="form-group">
                <label for="tellFriend">Would you tell your friends to use Trippism?</label>
                <select class="form-control" id="tellFriend" name="tellFriend" ng-model="tellFriend" style="max-width:300px;">
                    <option value="0">Choose one</option>
                    <option value="Yes, definitely!">Yes, definitely!</option>
                    <option value="Maybe">Maybe</option>
                    <option value="Absolutely not">Absolutely not</option>
                </select>
            </div>
            <button type="submit" class="btn btn-danger btn-sm" ng-click="submitModal()">Send</button>
        </form>
    </div>
</div>

