<div class="attr-wrapper" id="attrmapwrapper">
    <div class="" style="clear:both;" cg-busy="{promise:googleAttractionPromise,message:attractionMessage}">
        <div ui-map="attractionsMap" id="gMapId_" ui-options="attractionMapOptions" style="width:100%;min-height:200px;" class="map-canvas"></div>
    </div>
    <attraction-list class="attraction-slide" attractiontabindex="googleAttractionParams.tabIndex" attractionmap="attractionsMap" attractions="attractionsplaces" load-more-attraction-info="loadMoreGoogleAttractionInfo()" load-attraction-info="loadAttractionInfo(type,obj)" attraction-tabs="attractionsData"></attraction-list>
</div>
