<div class="col-md-12" ng-show="!hotelRequestComplete" style="text-align:center;float:left;">
    <h4 class="glyphicon glyphicon-refresh glyphicon-spin"></h4>
    <h5>Bringing latest Hotel prices...</h5>
    <h4>Working on it</h4>
</div>
<div class="hotel-wrapper" ng-if="HotelRangeData">
    <!--<div class="col-md-12 col-hotel-title col-dest-title"><h4><i class="fa fa-bed"></i>Hotels</h4></div>-->
    <div class="col-fare-title col-dest-title"><h4><i class="fa fa-bed"></i>Hotels</h4></div>
    <div class="col-md-12">
        <table>
            <thead>
                <tr>
                    <th>Lowest</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span class="cursor-help" data-toggle="tooltip" popover="{{HotelRangeData.CurrencyCode}}" popover-trigger="mouseenter" popover-placement="top">{{ HotelRangeData.CurrencySymbol }}</span> {{HotelRangeData.Fare | number:2}}</td>
                    <td title="3 star hotels" ng-if="HotelRangeData.Star == '3'"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></td>
                    <td title="4 star hotels" ng-if="HotelRangeData.Star == '4'"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></td>
                    <td title="5 star hotels" ng-if="HotelRangeData.Star == '5'"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>