<div ng-show="!hotelRequestComplete" style="text-align:center">
    <h4 class="glyphicon glyphicon-refresh glyphicon-spin"></h4>
    <h5>Bringing latest Hotel prices...</h5>
    <h4>Working on it</h4>
</div>
<div class="hotel-wrapper" ng-if="HotelRangeData">
    <div class="col-md-12 col-hotel-title col-dest-title"><h4><i class="fa fa-bed"></i>Hotels</h4></div>
    <div class="hotel-title">
        <h6>
            Average price range of currently available hotels
            <img src="images/help-icon.png" class="tool-tips cursor-help" width="20" height="20" title="The crowns are ratings provided by Northstar Travel Group, a premium hotel rating system.&#013; Price ranges can vary very quickly, based on hotel availabilities. Hotel Price is 1 adult/night." />
        </h6>
    </div>
    <table>
        <thead>
            <tr>
                <th>Avg Min</th>
                <th>Avg Max</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if='HotelRangeData.ThreeStar && HotelRangeData.ThreeStar.MinimumPriceAvg != 0.0'>
                <td><span class="cursor-help" data-toggle="tooltip" popover="{{hotelCurrency}}" popover-trigger="mouseenter" popover-placement="top">{{ hotelCurrencySymbol }}</span> {{HotelRangeData.ThreeStar.MinimumPriceAvg | number:0 }}</td>
                <td><span class="cursor-help" data-toggle="tooltip" popover="{{hotelCurrency}}" popover-trigger="mouseenter" popover-placement="top">{{ hotelCurrencySymbol }}</span> {{HotelRangeData.ThreeStar.MaximumPriceAvg | number:0 }}</td>
                <td><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></td>
            </tr>
            <tr ng-if='HotelRangeData.FourStar && HotelRangeData.FourStar.MinimumPriceAvg != 0.0'>
                <td><span class="cursor-help" data-toggle="tooltip" popover="{{hotelCurrency}}" popover-trigger="mouseenter" popover-placement="top">{{ hotelCurrencySymbol }}</span> {{HotelRangeData.FourStar.MinimumPriceAvg | number:0 }}</td>
                <td><span class="cursor-help" data-toggle="tooltip" popover="{{hotelCurrency}}" popover-trigger="mouseenter" popover-placement="top">{{ hotelCurrencySymbol }}</span> {{HotelRangeData.FourStar.MaximumPriceAvg | number:0 }}</td>
                <td><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></td>
            </tr>
            <tr ng-if='HotelRangeData.FiveStar && HotelRangeData.FiveStar.MinimumPriceAvg != 0.0'>
                <td><span class="cursor-help" data-toggle="tooltip" popover="{{hotelCurrency}}" popover-trigger="mouseenter" popover-placement="top">{{ hotelCurrencySymbol }}</span> {{HotelRangeData.FiveStar.MinimumPriceAvg | number:0 }}</td>
                <td><span class="cursor-help" data-toggle="tooltip" popover="{{hotelCurrency}}" popover-trigger="mouseenter" popover-placement="top">{{ hotelCurrencySymbol }}</span> {{HotelRangeData.FiveStar.MaximumPriceAvg | number:0 }}</td>
                <td><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></td>
            </tr>
        </tbody>
    </table>
</div>