<div ng-show="!hotelRequestComplete" style="text-align:center">
    <h4 class="glyphicon glyphicon-refresh glyphicon-spin"></h4>
    <h5>Bringing latest Hotel prices...</h5>
    <h4>Working on it</h4>
</div>
<div class="hotel-wrapper" ng-controller="HotelRangeCardController as HR" ng-if="HotelRangeData && HR.HotelAvg" ng-init="HR.HotelAvg = getMinHotelAvgPrice(HotelRangeData);">
    <table>
        <tbody>
            <tr>
                <td><div class="col-md-12 col-hotel-title col-dest-title"><i class="fa fa-bed"></i>Hotels</div></td>
                <td><b>Avg Min</b></td>
                <td><span class="cursor-help" data-toggle="tooltip" popover="{{hotelCurrency}}" popover-trigger="mouseenter" popover-placement="top">{{ hotelCurrencySymbol }}</span> {{HR.HotelAvg.MinimumPriceAvg | number:0 }}</td>
                <td title="5 star hotels"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></td>
            </tr>
        </tbody>
    </table>
</div>