<div class="row">
    <div ng-if="!loadingSeasonality" class="col-md-12">
        <div class="popup-box">
            <div class="popup-header">
                <!--<h5 class="widget-popup-title">Historical Visitor Traffic detail, {{seasonalityParams.DestinationairportName.airport_CityName}}</h5>-->
                <h5 class="widget-popup-title">Peak and Off Peak travel periods for {{seasonalityParams.DestinationairportName.airport_CityName}}</h5>
            </div>
            <div class="popup-content">
                <h6 class="date-title">{{DepartDate}} to {{ReturnDate}}</h6>
                <!--<p>
                    Traffic volume booked to the requested destination airport for each of the previous 52 weeks. It’s the booked traffic for each week to each of the other previous 51 weeks, and rated accordingly
                </p>-->
                <div class="overview-weather-box">
                    <ul class="gird-line">
                        <li>
                            <div class="overview-weather-content" ng-if="!loadingSeasonality">
                                <!--<h6> [ {{DepartDate}} To {{ReturnDate}} ]</h6>-->
                                <ul>
                                    <li>
                                        <img title="High" ng-if="SeasonalityWidgetData.NoofIcons == 3" src="/images/User-12.png" alt="" />
                                        <img title="High" ng-if="SeasonalityWidgetData.NoofIcons != 3" src="/images/User-12grey.png" alt="" />
                                        <p ng-if="SeasonalityWidgetData.NoofIcons == 3" class="redbold-font"> Peak</p>
                                        <p ng-if="SeasonalityWidgetData.NoofIcons != 3"> Peak</p>
                                    </li>
                                    <li>
                                        <img title="Medium" ng-if="SeasonalityWidgetData.NoofIcons == 2" src="/images/User-5.png" alt="" />
                                        <img title="Medium" ng-if="SeasonalityWidgetData.NoofIcons != 2" src="/images/User-5grey.png" alt="" />
                                        <p ng-if="SeasonalityWidgetData.NoofIcons == 2" class="redbold-font"> Medium</p>
                                        <p ng-if="SeasonalityWidgetData.NoofIcons != 2"> Medium</p>

                                    </li>
                                    <li>
                                        <img title="Low" ng-if="SeasonalityWidgetData.NoofIcons == 1" src="/images/User-3.png" alt="" />
                                        <img title="Low" ng-if="SeasonalityWidgetData.NoofIcons != 1" src="/images/User-3grey.png" alt="" />
                                        <p ng-if="SeasonalityWidgetData.NoofIcons == 1" class="redbold-font"> Off-Peak</p>
                                        <p ng-if="SeasonalityWidgetData.NoofIcons != 1">Off-Peak</p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <h6 class="date-title">Year Around</h6>
                <h6>Search Off-Peak weeks to get a better pricing. Compare Off-Peak weeks with Peaks to understand price patterns.</h6>
                <div class="chart-box"></div>
            </div>
        </div>
    </div>
</div>

