<div class="attr-wrapper" id="attrmapwrapper">
    <div class="" style="clear:both;" cg-busy="{promise:googleAttractionPromise,message:attractionMessage}">
        <div ui-map="googleattractionsMap" id="gMapId_" ui-options="attractionmapOptions" style="width:100%;min-height:200px;" class="map-canvas"></div>
    </div>
    <attraction-list class="attraction-slide" attractiontabindex="googleattractionParams.tabIndex" attractionmap="googleattractionsMap" attractions="attractionsplaces" load-more-attraction-info="loadMoreGoogleAttractionInfo()" load-attraction-info="loadgoogleattractionInfo(type,obj)"></attraction-list>
</div>
