<div class="panel panel-default panel-margin">
    <div class="panel-heading">
        <div class="col-lg-10 col-md-4 col-sm-8 col-xs-8 padleft0">How it works?</div>
        <div class="pull-right">
            <a class="close-panel-button pull-right" ng-click="dismiss(videoModelInstance)" role="button" tabindex="0">X</a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div id="videoModel" class="col-md-12 col-sm-12 col-sm-12">
                <!--<video src="../Videos/trippismm.mp4" class="video" controls></video>-->
                <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/owy3jDW-eBQ?rel=0&showinfo=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>