<div ng-if="!WeatherInfoNoDataFound">
    <div class="popup-box">
        <!--<div class="popup-header red-bg">
            <h6 class="popup-title">Historical Weather pattern detail </h6>
        </div>-->
        <div class="popup-content">
            <!--<p>
                [ {{DepartDate}} to {{ReturnDate}} ]
            </p> 
            <div class="high-low-box">
                <div class="avg-high">  
                    <span>Avg. High </span>
                    <h5>{{HighTempratureF}}&#x2109 &nbsp;&nbsp;{{HighTempratureC}}&#x2103</h5>
                </div>
                <div class="avg-low">
                    <span>Avg. Low </span>
                    <h5>{{LowTempratureF}}&#x2109 &nbsp;&nbsp;{{LowTempratureC}}&#x2103</h5>
                </div>
            </div>-->
            <div class="chart-box">
            </div>
        </div>
    </div>
</div>



