<!doctype html>
<html ng-app="TrippismUIApp" lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta property="fb:page_id" content="1493664570958968" />
    <meta name="p:domain_verify" content="7fde15372ee2a145ec9d36d7ec144c55" />
    <meta name="rating" content="GENERAL" />

    <!--<COMMENT TITLE="MONITOR"></COMMENT>-->
    <title>Trippism: Art of Destination Discovery</title>
    <meta name="description" content="Expore and Discover your next vacation destination with Trippism. Flight exploration and destination discovery combined. Fare evolution and intelligence combined with weather , seasonality , attractions and videos !">
    <meta name="keywords" content="Trippism, Travel, Trip, Vacation, destinations, Prices, Low Fares, Weather, Cheap Airfare, Insights, Weather, Things to do, attraction videos, seasonality, fare forecast, fare range">

    <link href="https://www.trippism.com/" rel="canonical" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel='stylesheet' href='bower_components/angular-busy/dist/angular-busy.css' />
    <link rel='stylesheet' href='bower_components/angular-rangeslider/angular.rangeSlider.css' />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link href="styles/bootstrap.css" rel="stylesheet" />
    <link href="styles/jquery.mCustomScrollbar.css" rel="stylesheet" />
    <link href="styles/style.css" rel="stylesheet" />
    <link href="styles/alertify.min.css" rel="stylesheet" />
    <link href="styles/style-custom.css" rel="stylesheet" />
    <link href="styles/trippismNew.css" rel="stylesheet" />
    <link href="styles/font-awesome.css" rel="stylesheet" />
    <!-- endbuild -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900' rel='stylesheet' type='text/css'>

</head>
<body ng-controller="BaseController" class="{{bodyClass}}">
    <script>
        !function (A, n, g, u, l, a, r) {
            A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
                (A[l].q = A[l].q || []).push(arguments)
            }, A[l].l = +new Date, a = n.createElement(g),
            r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
        }(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-67893448-1');
        ga('send', 'pageview');
    </script>

    <div class="header" id="header">
        <div class="header-box">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-5">
                        <div class="logo">
                            <a ui-sref="home">
                                <img src="images/trippism-logo.png" alt="Trippism" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-10 col-xs-7">
                        <div class="pull-right padding-top-5 margin-left-15 top-10" ng-click="status.isopen = false">
                            <ul class="nav-home">
                                <li class="dropdown">
                                    <a href="" class="dropdown-toggle padding-0" data-toggle="dropdown">
                                        <span class="fa fa-bars" aria-hidden="true" style="font-size: 21px"></span>
                                    </a>
                                    <ul class="dropdown-menu margin-top-5">
                                        <li ng-if="(!IsUserLogin)"><a href="" ng-click="loginPoupup()">Sign in</a></li>
                                        <li ng-if="(IsUserLogin)"><a href="" ng-click="logOut()">Sign out</a></li>
                                        <li ng-if="(IsUserLogin)"><a href="" ng-click="changePwd()">Change Password</a></li>
                                        <li><a href="" ng-click="feedback()">Feedback</a></li>
                                        <li><a href="" ng-click="aboutUs()">About Us</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="pull-right top-10 z-999" ng-show="currencyList">
                            <div id="currencyCode" class="currencyCode btn-group z-999" dropdown is-open="status.isopen">
                                <button type="button" class="btn dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                                    <span ng-bind="$root.currencyInfo.currencyCode + ' - ' + $root.currencyInfo.symbol"></span><span class="caret margin-left-10"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-repeat="currency in currencyList"><a href="javascript:void(0)" ng-click="currencyCodeChange(currency.code)">{{currency.symbol}}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="pull-right position-rel margin-right-10 z-999"  ng-show="IsUserLogin">
                            <div class="margin-top-5">
                                <strong><span ng-bind="'Hi,'+ userName +'.'"></span></strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ui-view class="content-wrapper" id="content-wrapper"></div>
    <footer>
        <div class="footer-box">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="footer-menu">
                            <ul>
                                <li class="margin-top-3"><a>Powered By</a></li>
                                <li><a class="partners-image sabre-img"></a></li>
                                <li class="margin-top-3"><a class="partners-image google-img"></a></li>
                                <li><a class="partners-image underground-img"></a></li>
                                <li>
                                    <div class="trip-logo-container">
                                        <div class="trip-left text-right">
                                            <p class="line-10 margin-0">Ratings & Reviews</p>
                                            <p class="line-10 margin-0">Powered By</p>
                                        </div>
                                        <div class="pull-right">
                                            <a class="tripAdvisor-img"></a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-8 col-sm-4 footer-blog-2 margin-top-3">
                        <div>
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/trippismcom-1493664570958968/" title="Facebook" class="ico-social ico-fb" target="_blank"></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/trippismapp" class="ico-social ico-twi" title="Twitter" target="_blank"></a>
                                </li>
                                <li>
                                    <a href="https://www.pinterest.com/trippismsite/trippism/" title="Pinterest" class="ico-social ico-pin" target="_blank"></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/company/trippism?trk=vsrp_companies_res_name&trkInfo=VSRPsearchId%3A44363051459161854061%2CVSRPtargetId%3A10201827%2CVSRPcmpt%3Aprimary" title="Linkedin" class="ico-social ico-lin" target="_blank"></a>
                                </li>
                                <li>
                                    <a href="http://blog.trippism.com/" class="ico-social ico-blog" title="Blog" target="_blank"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 footer-blog-3 margin-top-3">
                        <p class="copyright">
                            <a ui-sref="FAQs">FAQs</a>
                            <span>© 2016 - Trippism All rights reserved.</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-ui-utils/ui-utils.js"></script>
    <script src="bower_components/angular-ui-map/ui-map.js"></script>
    <script src="bower_components/angular-busy/dist/angular-busy.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-rangeslider/angular.rangeSlider.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!--Google Maps-->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=geometry,places&key=AIzaSyDtyvUTf5QBUfFuw4LvsYwxgasXkW30SsI"></script>

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/constants/dataConstant.js"></script>
    <script src="scripts/constants/urlConstant.js"></script>

    <script src="scripts/libs/alertify.js"></script>
    <script src="scripts/libs/ddselectclick.js"></script>
    <script src="scripts/libs/highcharts.js"></script>
    <script src="scripts/libs/markerclusterer.js"></script>
    <script src="scripts/libs/markerwithlabel.js"></script>
    <script src="scripts/libs/underscore.js"></script>
    <script src="scripts/libs/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="scripts/libs/utility.js"></script>
    <script src="scripts/libs/tmhDynamicLocale.js"></script>

    <script src="scripts/factories/accountFactory.js"></script>
    <script src="scripts/factories/BaseFactory.js"></script>
    <script src="scripts/factories/youTubeFactory.js"></script>
    <script src="scripts/factories/destinationFactory.js"></script>
    <script src="scripts/factories/emailForDestinationDetFactory.js"></script>
    <script src="scripts/factories/fareforecastFactory.js"></script>
    <script src="scripts/factories/fareRangeFactory.js"></script>
    <script src="scripts/factories/feedbackFactory.js"></script>
    <script src="scripts/factories/googleAttractionFactory.js"></script>
    <script src="scripts/factories/googleGeoReverseLookupFactory.js"></script>
    <script src="scripts/factories/hotelRangeFactory.js"></script>
    <script src="scripts/factories/instaFlightSearchFactory.js"></script>
    <script src="scripts/factories/localStorageFactory.js"></script>
    <script src="scripts/factories/seasonalityFactory.js"></script>
    <script src="scripts/factories/tripAdvisorAttractionFactory.js"></script>
    <script src="scripts/factories/utilFactory.js"></script>
    <script src="scripts/factories/weatherFactory.js"></script>

    <script src="scripts/controllers/youTubeController.js"></script>
    <script src="scripts/controllers/attractionPopupController.js"></script>
    <script src="scripts/controllers/baseController.js"></script>
    <script src="scripts/controllers/changePasswordController.js"></script>
    <script src="scripts/controllers/destinationController.js"></script>
    <script src="scripts/controllers/destinationsController.js"></script>
    <script src="scripts/controllers/emailForDestinationDetController.js"></script>
    <script src="scripts/controllers/faqsController.js"></script>
    <script src="scripts/controllers/forgotPasswordController.js"></script>
    <script src="scripts/controllers/feedbackController.js"></script>
    <script src="scripts/controllers/homeController.js"></script>
    <script src="scripts/controllers/instaFlightSearchController.js"></script>
    <script src="scripts/controllers/loginController.js"></script>

    <script src="scripts/directives/youtubeDirective.js"></script>
    <script src="scripts/directives/airportDropdownDirective.js"></script>
    <script src="scripts/directives/attractionsListDirective.js"></script>
    <script src="scripts/directives/breadcrumbDirective.js"></script>
    <script src="scripts/directives/destinationCardDirective.js"></script>
    <script src="scripts/directives/destinationFareForecastDirective.js"></script>
    <script src="scripts/directives/destinationsCardDirective.js"></script>
    <script src="scripts/directives/farerangeWidgetDirective.js"></script>
    <script src="scripts/directives/googleAttractionDirective.js"></script>
    <script src="scripts/directives/googleMapMarkers.directive.js"></script>
    <script src="scripts/directives/hotelRangeDirective.js"></script>
    <script src="scripts/directives/resetDimentionsDirective.js"></script>
    <script src="scripts/directives/scrollDirective.js"></script>
    <script src="scripts/directives/searchBoxDirective.js"></script>
    <script src="scripts/directives/seasonalityDirective.js"></script>
    <script src="scripts/directives/videoPopupDirective.js"></script>
    <script src="scripts/directives/weatherDirective.js"></script>
    <script src="scripts/directives/tripAdvisorAttractionDirective.js"></script>
    <script src="scripts/directives/hotelsAttractionDirective.js"></script>
    <!-- endbuild -->
</body>
</html>
