<div class="container" ng-controller="changePasswordController">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3 class="destination-title" style="color:brown;">
                <strong>Change your password</strong>
            </h3>
        </div>
    </div>
    <div class="row" ng-show="hasError">
        <div class="col-sm-6">
            <div class="alert alert-danger triperror" role="alert" ng-show="formChangePwd.newpassword.$error.required || formChangePwd.confirmpassword.$error.required">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Fill all the field
            </div>
            <div class="alert alert-danger triperror" role="alert" ng-show="PasswordLength == false">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Passwrod contain at least 6 characters.
            </div>
            <div class="alert alert-danger triperror" role="alert" ng-show="isPasswordSame == false">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Password not match
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <div class="destination-boxwrap-nav-tabs">
                <div class="tab-content">
                    <form class="destination-form" name="formChangePwd" novalidate="novalidate">
                        <div class="row margin-top-15">
                            <div class="col-sm-6">
                                <div class="col-sm-4">
                                    <label for="password" class="col-form-label">New Password *</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group margin-0">
                                        <div class="form-group dropdown-box">
                                            <input ng-model="newpassword"
                                                   id="newpassword"
                                                   required
                                                   name="newpassword"
                                                   tabindex="1"
                                                   placeholder="Enter new password"
                                                   type="password"
                                                   class="input-control input-novalidate margin-0 font-12 height-20" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-top-15">
                            <div class="col-sm-6">
                                <div class="col-sm-4">
                                    <label for="password" class="col-form-label">Conform Password *</label>
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group margin-0">
                                        <div class="form-group dropdown-box">
                                            <input ng-model="confirmpassword"
                                                   id="confirmpassword"
                                                   required
                                                   name="confirmpassword"
                                                   tabindex="1"
                                                   placeholder="Re-enter new password"
                                                   type="password"
                                                   class="input-control input-novalidate margin-0 font-12 height-20" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-top-15">
                            <div class="col-sm-8">
                                <div class="col-sm-6 col-xs-6">
                                    <div class="input-group margin-0" style="float:right">
                                        <div class="form-group margin-0">
                                            <button type="submit"
                                                    class="btn btn-danger btn-search margin-0"
                                                    ng-click="resetPassword()"
                                                    tabindex="7">
                                                Submit
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>