



<style type="text/css">
    .dd-container {
        width: 100% !important;
    }

    .spacer {
        clear: both;
        height: 20px;
        width: 100%;
    }

    .dd-option {
        padding: 0 !important;
    }

    .dd-selected {
        padding: 0 !important;
    }
</style>


<div class="container-fluid col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <section id="header_top">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="logo">
                    <img src="http://www.trippism.com/images/trippism-logo.png" style="height: 40px; margin-left: 35px; margin-top: 5px; padding-bottom: 5px; cursor: pointer;" />
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="menu">
                    <span class="fa fa-bars" aria-hidden="true"></span>
                </div>
            </div>
        </div>
    </section>



    <section id="container_1" class="col-lg-7 col-md-7 col-sm-12 col-xs-12">

        <div class="container">


            <div class="container-fluid">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!--<section id="Modification">-->
                    <div class="row">

                        <div class="col-lg-8 col-md-8 col-sm-5 col-xs-5">
                            <div class="form-group" style="margin-left:25px;">
                                <input type="text" placeholder="click here for search" />
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-7 col-xs-7">
                            <div class="Modify">
                                <div class="btn btn-danger">Modify</div>
                                <div class="btn btn-danger">Help</div>
                            </div>
                        </div>
                    </div>
                    <!--</section>-->

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="row" style="">
                                <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
                                    <div class="Filter_option">
                                        <div class="price_start col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <span class="">75</span>
                                        </div>
                                        <div class="person col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <span class="">Air/person</span>
                                        </div>
                                        <div class="price_end col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <span class="">1209</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom:-26px;">
                                <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
                                    <div id="slider"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">

                            <div class="row" style=" background-color:#fff;">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="theme_option">
                                        <select id="demo-htmlselect-basic" style="width:100% !important;">
                                            <option value="" disabled selected>Theme</option>
                                            <option data-imagesrc="http://www.trippism.com/images/themes/palm-tree-icon.png" value="0">Beach</option>
                                            <option data-imagesrc="http://www.trippism.com/images/themes/paris-icon.png" value="1">Disney</option>
                                            <option data-imagesrc="http://www.trippism.com/images/themes/dice-icon.png" value="2">Gambling</option>
                                            <option data-imagesrc="http://www.trippism.com/images/themes/bank-icon.png" value="3">Historic</option>
                                            <option data-imagesrc="http://www.trippism.com/images/themes/camera-icon.png" value="3">Mountains</option>
                                            <option data-imagesrc="http://www.trippism.com/images/themes/park-icon.png" value="3">National Parks</option>
                                            <option data-imagesrc="http://www.trippism.com/images/themes/climbing-icon.png" value="3">Outdoors</option>
                                            <option data-imagesrc="http://www.trippism.com/images/themes/hearts-icon.png" value="3">Romantic</option>
                                            <option data-imagesrc="http://www.trippism.com/images/themes/full-icon.png" value="3">Shopping</option>
                                            <option data-imagesrc="http://www.trippism.com/images/themes/cruise-icon.png" value="3">Theme Park</option>
                                            <option data-imagesrc="http://www.trippism.com/images/themes/sport-icon.png" value="3">Skiing</option>
                                            <option data-imagesrc="http://www.trippism.com/images/themes/holidays-icon.png" value="3">Caribbean</option>
                                        </select>
                                        <div class="spacer"></div>
                                    </div>
                                </div>




                            </div>

                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">

                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="theme_option">
                                        <select id="demo-htmlselect-basic1" style="width:100% !important;">

                                            <option value="" disabled selected>Region</option>
                                            <option data-imagesrc="http://www.trippism.com/images/regions/africa-icon.png" value="0">Africa</option>
                                            <option data-imagesrc="http://www.trippism.com/images/regions/europe-icon.png" value="1">Europe</option>
                                            <option data-imagesrc="http://www.trippism.com/images/regions/south-america.png" value="2">South America</option>
                                            <option data-imagesrc="http://www.trippism.com/images/regions/north-america-icon.png" value="3">North America</option>
                                            <option data-imagesrc="http://www.trippism.com/images/regions/icon-middle-east-icon.png" value="3">Middle East</option>
                                            <option data-imagesrc="http://www.trippism.com/images/regions/asia-icon.png" value="3">Asia Pacific</option>
                                        </select>
                                        <div class="spacer"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!--image_section-->

            <div class="row" style=" background-color:#FAFBFC; border-top:2px solid #ccc; overflow-y:inherit;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 thumbnail_box_1" style="margin-top:25px; margin-bottom:50px; ">
                    <div class="thumbnail_box">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                            <div class="thumbnail_img img-responsive">
                                <img src="https://s3-eu-west-1.amazonaws.com/images.skypicker.com/photos/220x165/mumbai_in.jpg" style="width:99.99%;" />

                                <span class="Price_list">from $ 2803</span>

                                <div class="Location_box">
                                    <span class="" style="font-size:24px; color:gainsboro;">Mumbai</span>
                                    <span class="" style="font-size:15px; margin-left:5px;">India</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                            <div class="thumbnail_img img-responsive">
                                <img src="https://s3-eu-west-1.amazonaws.com/images.skypicker.com/photos/220x165/mumbai_in.jpg" style="width:99.99%;" />

                                <span class="Price_list">from $ 2803</span>

                                <div class="Location_box">
                                    <span class="" style="font-size:24px; color:gainsboro;">Mumbai</span>
                                    <span class="" style="font-size:15px; margin-left:5px;">India</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                            <div class="thumbnail_img img-responsive">
                                <img src="https://s3-eu-west-1.amazonaws.com/images.skypicker.com/photos/220x165/mumbai_in.jpg" style="width:99.99%;" />

                                <span class="Price_list">from $ 2803</span>

                                <div class="Location_box">
                                    <span class="" style="font-size:24px; color:gainsboro;">Mumbai</span>
                                    <span class="" style="font-size:15px; margin-left:5px;">India</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                            <div class="thumbnail_img img-responsive">
                                <img src="https://s3-eu-west-1.amazonaws.com/images.skypicker.com/photos/220x165/mumbai_in.jpg" style="width:99.99%;" />

                                <span class="Price_list">from $ 2803</span>

                                <div class="Location_box">
                                    <span class="" style="font-size:24px; color:gainsboro;">Mumbai</span>
                                    <span class="" style="font-size:15px; margin-left:5px;">India</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                            <div class="thumbnail_img img-responsive">
                                <img src="https://s3-eu-west-1.amazonaws.com/images.skypicker.com/photos/220x165/mumbai_in.jpg" style="width:99.99%;" />

                                <span class="Price_list">from $ 2803</span>

                                <div class="Location_box">
                                    <span class="" style="font-size:24px; color:gainsboro;">Mumbai</span>
                                    <span class="" style="font-size:15px; margin-left:5px;">India</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                            <div class="thumbnail_img img-responsive">
                                <img src="https://s3-eu-west-1.amazonaws.com/images.skypicker.com/photos/220x165/mumbai_in.jpg" style="width:99.99%;" />

                                <span class="Price_list">from $ 2803</span>

                                <div class="Location_box">
                                    <span class="" style="font-size:24px; color:gainsboro;">Mumbai</span>
                                    <span class="" style="font-size:15px; margin-left:5px;">India</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                            <div class="thumbnail_img img-responsive">
                                <img src="https://s3-eu-west-1.amazonaws.com/images.skypicker.com/photos/220x165/mumbai_in.jpg" style="width:99.99%;" />

                                <span class="Price_list">from $ 2803</span>

                                <div class="Location_box">
                                    <span class="" style="font-size:24px; color:gainsboro;">Mumbai</span>
                                    <span class="" style="font-size:15px; margin-left:5px;">India</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                            <div class="thumbnail_img img-responsive">
                                <img src="https://s3-eu-west-1.amazonaws.com/images.skypicker.com/photos/220x165/mumbai_in.jpg" style="width:99.99%;" />

                                <span class="Price_list">from $ 2803</span>

                                <div class="Location_box">
                                    <span class="" style="font-size:24px; color:gainsboro;">Mumbai</span>
                                    <span class="" style="font-size:15px; margin-left:5px;">India</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                            <div class="thumbnail_img img-responsive">
                                <img src="https://s3-eu-west-1.amazonaws.com/images.skypicker.com/photos/220x165/mumbai_in.jpg" style="width:99.99%;" />

                                <span class="Price_list">from $ 2803</span>

                                <div class="Location_box">
                                    <span class="" style="font-size:24px; color:gainsboro;">Mumbai</span>
                                    <span class="" style="font-size:15px; margin-left:5px;">India</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                            <div class="thumbnail_img img-responsive">
                                <img src="https://s3-eu-west-1.amazonaws.com/images.skypicker.com/photos/220x165/mumbai_in.jpg" style="width:99.99%;" />

                                <span class="Price_list">from $ 2803</span>

                                <div class="Location_box">
                                    <span class="" style="font-size:24px; color:gainsboro;">Mumbai</span>
                                    <span class="" style="font-size:15px; margin-left:5px;">India</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                            <div class="thumbnail_img img-responsive">
                                <img src="https://s3-eu-west-1.amazonaws.com/images.skypicker.com/photos/220x165/mumbai_in.jpg" style="width:99.99%;" />

                                <span class="Price_list">from $ 2803</span>

                                <div class="Location_box">
                                    <span class="" style="font-size:24px; color:gainsboro;">Mumbai</span>
                                    <span class="" style="font-size:15px; margin-left:5px;">India</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                            <div class="thumbnail_img img-responsive">
                                <img src="https://s3-eu-west-1.amazonaws.com/images.skypicker.com/photos/220x165/mumbai_in.jpg" style="width:99.99%;" />

                                <span class="Price_list">from $ 2803</span>

                                <div class="Location_box">
                                    <span class="" style="font-size:24px; color:gainsboro;">Mumbai</span>
                                    <span class="" style="font-size:15px; margin-left:5px;">India</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                            <div class="thumbnail_img img-responsive">
                                <img src="https://s3-eu-west-1.amazonaws.com/images.skypicker.com/photos/220x165/mumbai_in.jpg" style="width:99.99%;" />

                                <span class="Price_list">from $ 2803</span>

                                <div class="Location_box">
                                    <span class="" style="font-size:24px; color:gainsboro;">Mumbai</span>
                                    <span class="" style="font-size:15px; margin-left:5px;">India</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                            <div class="thumbnail_img img-responsive">
                                <img src="https://s3-eu-west-1.amazonaws.com/images.skypicker.com/photos/220x165/mumbai_in.jpg" style="width:99.99%;" />

                                <span class="Price_list">from $ 2803</span>

                                <div class="Location_box">
                                    <span class="" style="font-size:24px; color:gainsboro;">Mumbai</span>
                                    <span class="" style="font-size:15px; margin-left:5px;">India</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                            <div class="thumbnail_img img-responsive">
                                <img src="https://s3-eu-west-1.amazonaws.com/images.skypicker.com/photos/220x165/mumbai_in.jpg" style="width:99.99%;" />

                                <span class="Price_list">from $ 2803</span>

                                <div class="Location_box">
                                    <span class="" style="font-size:24px; color:gainsboro;">Mumbai</span>
                                    <span class="" style="font-size:15px; margin-left:5px;">India</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                            <div class="thumbnail_img img-responsive">
                                <img src="https://s3-eu-west-1.amazonaws.com/images.skypicker.com/photos/220x165/mumbai_in.jpg" style="width:99.99%;" />

                                <span class="Price_list">from $ 2803</span>

                                <div class="Location_box">
                                    <span class="" style="font-size:24px; color:gainsboro;">Mumbai</span>
                                    <span class="" style="font-size:15px; margin-left:5px;">India</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="container_2" class="col-lg-5 col-md-5 hidden-sm hidden-xs">
        <div id="googleMap" style="width:100%; height:98vh;"></div>
    </section>



</div>

