<div id="content-wrapper" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 destinations-wrapper" ng-controller="DestinationsController"  cg-busy="{promise: $root.currencypromise,message:'Please wait...'}">
    <section id="container_1" class="col-lg-7 col-md-7 col-sm-12 col-xs-12" scroll scroll-callback="loadMoreDestinations();">
        <div class="container-fluid padding-0">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row1 margin-top-5">
                    <div class="col-lg-9 col-md-9 col-sm-7 col-xs-12">
                        <div class="form" style="">
                            <label class="search_list">
                                <span ng-show="refineSearchValues && refineSearchValues.OrigintoDisp">{{refineSearchValues.OrigintoDisp}} </span>
                                <span ng-show="refineSearchValues && refineSearchValues.FromDate">{{refineSearchValues.FromDate | date : $root.format}} </span>
                                <span ng-show="refineSearchValues && refineSearchValues.ToDate">To {{refineSearchValues.ToDate | date : $root.format}}</span>
                                <span ng-show="refineSearchValues && refineSearchValues.Minfare > 0">{{fareCurrencySymbol}} {{refineSearchValues.Minfare}}</span>
                                <span ng-show="refineSearchValues && refineSearchValues.Maxfare > 0"> To {{fareCurrencySymbol}} {{refineSearchValues.Maxfare}}</span>
                                <span ng-show="refineSearchValues && refineSearchValues.Theme"> {{refineSearchValues.Theme}}</span>
                                <span ng-show="refineSearchValues && refineSearchValues.Region"> {{refineSearchValues.Region}} </span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
                        <div class="Modify">
                            <div class="btn btn-danger" ng-click="isModified=!isModified;isRefineSeachCollapsed=false;">Modify</div>
                            <!--<div class="btn btn-danger" video-popup-directive>Help</div>-->
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="row1 margin-top-10">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="row1">
                            <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
                                <div class="rs-wrapper">
                                    <div class="rs-lbl-left">{{priceSliderValues.originalRange.min}}</div>
                                    <div class="rs-lbl-midd">Air Fare/Person</div>
                                    <div class="rs-lbl-right">{{priceSliderValues.originalRange.max}}</div>
                                    <div class="clear"></div>
                                </div>
                                <div class="range-slider" range-slider on-handle-up="refineDestinations(true)" min="priceSliderValues.range.min" max="priceSliderValues.range.max" model-min="priceSliderValues.values.min" model-max="priceSliderValues.values.max" show-values="true" attach-handle-values="true" disabled="priceSliderValues.values.max == 0 && priceSliderValues.values.min == 0"></div>
                            </div>
                        </div>
                        <div class="row1">
                            <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
                                <div id="slider"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="row1">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="theme_option">
                                    <select id="select-theme" ng-model="Theme">
                                        <option value="" disabled>Theme</option>
                                        <option value="BEACH" data-imagesrc="../images/themes/palm-tree-icon.png">Beach</option>
                                        <option value="DISNEY" data-imagesrc="../images/themes/paris-icon.png">Disney</option>
                                        <option value="GAMBLING" data-imagesrc="../images/themes/dice-icon.png">Gambling</option>
                                        <option value="HISTORIC" data-imagesrc="../images/themes/bank-icon.png">Historic</option>
                                        <option value="MOUNTAINS" data-imagesrc="../images/themes/camera-icon.png">Mountains</option>
                                        <option value="NATIONAL-PARKS" data-imagesrc="../images/themes/park-icon.png">National Parks</option>
                                        <option value="OUTDOORS" data-imagesrc="../images/themes/climbing-icon.png">Outdoors</option>
                                        <option value="ROMANTIC" data-imagesrc="../images/themes/hearts-icon.png">Romantic</option>
                                        <option value="SHOPPING" data-imagesrc="../images/themes/full-icon.png">Shopping</option>
                                        <option value="THEME-PARK" data-imagesrc="../images/themes/cruise-icon.png">Theme Park</option>
                                        <option value="SKIING" data-imagesrc="../images/themes/sport-icon.png">Skiing</option>
                                        <option value="CARIBBEAN" data-imagesrc="../images/themes/holidays-icon.png">Caribbean</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="row1">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="theme_option">
                                    <select id="select-region" ng-model="Region">
                                        <option value="" disabled>Region</option>
                                        <option value="Africa" data-imagesrc="../images/regions/africa-icon.png">Africa</option>
                                        <option value="Europe" data-imagesrc="../images/regions/europe-icon.png">Europe</option>
                                        <option value="South America" data-imagesrc="../images/regions/south-america.png">South America</option>
                                        <option value="North America" data-imagesrc="../images/regions/north-america-icon.png">North America</option>
                                        <option value="Middle East" data-imagesrc="../images/regions/icon-middle-east-icon.png">Middle East</option>
                                        <option value="Asia Pacific" data-imagesrc="../images/regions/asia-icon.png">Asia Pacific</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="row1 row-card">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 thumbnail_box_1">
                    <div class="thumbnail_box">
                        <div class="divloader" ng-show="!destinationCardListDisp">
                            <span class="glyphicon glyphicon-refresh glyphicon-spin margin-lr-3"></span>
                            <span>Getting destinations...</span>
                        </div>
                        <div class="divloader" ng-show="destinationCardListDisp.length == 0">
                            <div ng-show="!isDestinations">
                                We didn't find any destinations based on your current search.<br />
                                Please try searching with different parameters.
                                <div class="margin-top-15" ng-show="isReset"><input type="button" class="btn btn-default font-16" ng-click="resetFilter();" value="Reset" style="color:inherit;" /></div>
                            </div>
                            <div ng-show="isDestinations">
                                There are no destinations in this map view.<br />
                                Drag the map to see more destinations.
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 animate-card" ng-repeat="item in destinationCardListDisp">
                            <destinations:card destination="::item" origin="::Origin"></destinations:card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="container_2" class="col-lg-5 col-md-5 hidden-sm hidden-xs">
        <div class="map-box" id="mainmap">
            <div class="map-container" cg-busy="{promise:mappromise,message:'Please wait...'}">
                <div id="wrapper" cg-busy="{promise:destinationmappromise,message:'Please wait...'}">
                    <div google-map class="map"></div>
                </div>
            </div>
        </div>
    </section>
    <div ng-show="isModified">
        <search-box is-popup="isModified"></search-box>
    </div>
</div>