<div id="content-wrapper destinations-wrapper" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-controller="DestinationsController">
    <section id="container_1" class="col-lg-7 col-md-7 col-sm-12 col-xs-12" scroll scroll-callback="loadMoreDestinations();">
        <div class="container-fluid">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row margin-top-5">
                    <div class="col-lg-8 col-md-8 col-sm-5 col-xs-5">
                        <div class="form" style="">
                            <label class="search_list">
                                <span ng-show="refineSearchValues && refineSearchValues.OrigintoDisp">{{refineSearchValues.OrigintoDisp}} </span>
                                <span ng-show="refineSearchValues && refineSearchValues.FromDate">{{refineSearchValues.FromDate | date:'MMM-dd-yyyy'}} </span>
                                <span ng-show="refineSearchValues && refineSearchValues.ToDate">To {{refineSearchValues.ToDate | date:'MMM-dd-yyyy'}}</span>
                                <span ng-show="refineSearchValues && refineSearchValues.Minfare > 0">{{fareCurrencySymbol}} {{refineSearchValues.Minfare}}</span>
                                <span ng-show="refineSearchValues && refineSearchValues.Maxfare > 0"> To {{fareCurrencySymbol}} {{refineSearchValues.Maxfare}}</span>
                                <span ng-show="refineSearchValues && refineSearchValues.Theme"> {{refineSearchValues.Theme}}</span>
                                <span ng-show="refineSearchValues && refineSearchValues.Region"> {{refineSearchValues.Region}} </span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-7 col-xs-7">
                        <div class="Modify">
                            <div class="btn btn-danger" ng-click="isModified=!isModified;isRefineSeachCollapsed=false;">Modify</div>
                            <div class="btn btn-danger" video-popup-directive>Help</div>
                        </div>
                    </div>
                </div>

                <div class="row margin-top-10">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="row1">
                            <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
                                <div class="rs-wrapper">
                                    <div class="rs-lbl-left">{{priceSliderValues.originalRange.min}}</div>
                                    <div class="rs-lbl-midd">Air Fare/Person</div>
                                    <div class="rs-lbl-right">{{priceSliderValues.originalRange.max}}</div>
                                    <div class="clear"></div>
                                </div>
                                <div class="range-slider" range-slider on-handle-up="handleUp(true)" min="priceSliderValues.range.min" max="priceSliderValues.range.max" model-min="priceSliderValues.values.min" model-max="priceSliderValues.values.max" show-values="true" attach-handle-values="true" disabled="priceSliderValues.values.max == 0 && priceSliderValues.values.min == 0"></div>
                            </div>
                        </div>
                        <div class="row1">
                            <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
                                <div id="slider"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="row1">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="theme_option">
                                    <select id="select-theme">
                                        <option value="" disabled selected>Theme</option>
                                        <option data-imagesrc="../images/themes/palm-tree-icon.png" value="0">Beach</option>
                                        <option data-imagesrc="../images/themes/paris-icon.png" value="1">Disney</option>
                                        <option data-imagesrc="../images/themes/dice-icon.png" value="2">Gambling</option>
                                        <option data-imagesrc="../images/themes/bank-icon.png" value="3">Historic</option>
                                        <option data-imagesrc="../images/themes/camera-icon.png" value="3">Mountains</option>
                                        <option data-imagesrc="../images/themes/park-icon.png" value="3">National Parks</option>
                                        <option data-imagesrc="../images/themes/climbing-icon.png" value="3">Outdoors</option>
                                        <option data-imagesrc="../images/themes/hearts-icon.png" value="3">Romantic</option>
                                        <option data-imagesrc="../images/themes/full-icon.png" value="3">Shopping</option>
                                        <option data-imagesrc="../images/themes/cruise-icon.png" value="3">Theme Park</option>
                                        <option data-imagesrc="../images/themes/sport-icon.png" value="3">Skiing</option>
                                        <option data-imagesrc="../images/themes/holidays-icon.png" value="3">Caribbean</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="row1">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="theme_option">
                                    <select id="select-region">
                                        <option value="" disabled selected>Region</option>
                                        <option data-imagesrc="../images/regions/africa-icon.png" value="0">Africa</option>
                                        <option data-imagesrc="../images/regions/europe-icon.png" value="1">Europe</option>
                                        <option data-imagesrc="../images/regions/south-america.png" value="2">South America</option>
                                        <option data-imagesrc="../images/regions/north-america-icon.png" value="3">North America</option>
                                        <option data-imagesrc="../images/regions/icon-middle-east-icon.png" value="3">Middle East</option>
                                        <option data-imagesrc="../images/regions/asia-icon.png" value="3">Asia Pacific</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row1 row-card">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 thumbnail_box_1">
                    <div class="thumbnail_box">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6" ng-repeat="item in destinationCardList|limitTo:limitDestinationCards">
                            <a ng-href="{{::getlink(item)}}">
                                <div class="thumbnail_img img-responsive">
                                    <img ng-src="{{::DestinationImagePath}}{{::item.DestinationLocation}}.jpg" src-error="{{::DestinationImagePath}}default.jpg" />
                                    <span class="Price_list">{{::GetCurrencySymbol(item.CurrencyCode)}} {{::GetLowFare(item)}}</span>
                                    <div class="city_name">
                                        <span class="font-imp">{{::item.CityName}}</span>
                                    </div>
                                    <div class="Airport_name">
                                        <span class="font-light">{{::item.FullName}}</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="container_2" class="col-lg-5 col-md-5 hidden-sm hidden-xs">
        <div class="map-box" id="mainmap">
            <div class="map-container" cg-busy="{promise:mappromise,message:'Please wait...'}">
                <div id="wrapper" cg-busy="{promise:destinationmappromise,message:'Please wait...'}">
                    <div google-map ng-show="isShowSearchIcon || ShowDestinationView" airlinejsondata="airlineJsonData" airportlist="AvailableAirports" class="map"></div>
                </div>
            </div>
        </div>
    </section>
    <div ng-show="isModified">
        <search-box is-popup="isModified"></search-box>
    </div>
</div>

