<div class="container-fluid faq-container text-justify clear" ng-controller="FAQsController">
    <div class="row-fluid clearfix">
        <div class="col-md-12">
            <h4>What do the numbered circles mean on the map?</h4>
            <p>When you search from an Origin, we bring back hundreds of destinations. For easy and clear navigation, we cluster the destinations within a nearby radius and display the number of destinations in that cluster. Click on the cluster to see destinations and click on each destination to see details.</p>
        </div>
    </div>
    <div class="row-fluid clearfix">
        <div class="col-md-12">
            <h4>Can you explain Fares Recently paid on 'How good is today's price’?</h4>
            <p>Fares recently paid are based on prices that were ticketed in last 4 weeks for the same search for which we brought the current prices. This gives a better insight into the current pricing, how good it is....since the Fares recently paid are shown as Low, Median and High, if the current lowest price that you see falls in the lower range, which is between Low to Median, you can consider that in the lower range of prices paid in the past weeks. It is reassuring to know that the price you are about to pay is good.</p>
        </div>
    </div>
    <div class="row-fluid clearfix">
        <div class="col-md-12">
            <h4>What is the Purpose of Traffic Seasonality Graph, why are you showing it?</h4>
            <p>The traffic seasonality graph is meant to give peak and off peak travel seasons to a destination. A good way to use this graph is to compare peak and off peak prices by doing searches for those periods. If you are flexible and off peak pricing happens to be low, you can buy during that period.</p>
        </div>
    </div>
    <div class="row-fluid clearfix">
        <div class="col-md-12">
            <h4>Why can I not set my town as the Origin or any town as a Destination for Search?</h4>
            <p>Trippism as of today covers fly away destinations. We bring air pricing along with destination recommendations. So it is necessary that we have a major airport as both Origin and Destination.</p>
        </div>
    </div>
    <div class="row-fluid clearfix">
        <div class="col-md-12">
            <h4>Can I trust the Trippism prices?</h4>
            <p>Trippism has partnered with Sabre, a premier GDS of the world. They are the first GDS and make billions of bookings a day. Almost all major airlines partner with Sabre to publish their prices with them. All Online Travel Agencies use Sabre as their partner for Air pricing. So our prices are reliable and come from a Premier source.</p>
        </div>
    </div>
</div>