<div ng-controller="HomeController">
    <div class="destination-boxwrap" id="destination-boxwrap">
        <div id="slideshowWrapper">
            <ul id="slideshow">
                <li style="opacity:0;"><div class="destination-image destination-image-1"></div></li>
                <li style="opacity:0;"><div class="destination-image destination-image-5"></div></li>
                <li style="opacity:0;"><div class="destination-image destination-image-4"></div></li>
                <li style="opacity:0;"><div class="destination-image destination-image-3"></div></li>
                <li style="opacity:0;"><div class="destination-image destination-image-2"></div></li>
                <li><div class="destination-image destination-image-6"></div></li>
            </ul>
            <br clear="all" />
        </div>
        <search:box></search:box>
    </div>
    <div class="clear h50px" id="h50px"></div>
    <div class="service_box">
        <div class="container border-bottom pad-bot-20">
            <div class="row">
                <div class="col-sm-4">
                    <div class="service_inner text-center">
                        <div class="service_title">Explore</div>
                        <div class="service_content">
                            <img src="../images/explore_icon.png" />
                            <p>
                                Visually mapped exploration of hundreds
                                of destinations with flight prices
                                allowing filters based on budget.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="service_inner text-center">
                        <div class="service_title">Discover</div>
                        <div class="service_content">
                            <div class="ico-youtube" video-popup-directive title="Click to watch our video"></div>
                            <p>
                                Watch our video on how to discover a destination in few minutes.
                                Find air fares, fare analysis, attractions, videos, reviews and ratings.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="service_inner text-center">
                        <div class="service_title">Escape</div>
                        <div class="service_content">
                            <img src="../images/escape_icon.png" />
                            <p>
                                Hit the Book button & Go!
                                Painless journey from
                                exploration to book.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container md-container border-bottom pad-top-20 pad-bot-20">
            <div class="row" ng-repeat="item in rowArr track by $index">
                <div class="col-sm-4" ng-repeat="item in ::destinationRequestList[$index]">
                    <destination-card-directive origin="item.origin" destination="item.destination" departure-date="item.departureDate" return-date="item.returnDate" image-url="http://content.trippism.com/images/destinations/{{::item.destination}}.jpg"></destination-card-directive>
                </div>
            </div>
        </div>
    </div>
</div>
